notes.md

dump.rdb
celerybeat.pid
celerybeat-schedule

others/*
venv/*
migrations/*

crawltwitter/config/default.py
celery.conf
celerybeat.conf
celeryflower.conf
nginx.conf
crawltwitter.conf

fabfile.py

crawltwitter/templates/facebook_base.html
crawltwitter/templates/site/facebook_login.html
crawltwitter/templates/site/facebook_bak.html
crawltwitter/static/style/facebook_style.css
crawltwitter/templates/site/strict_search_results.html
crawltwitter/templates/site/strict_search.html


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
